body{
    background-image: url("https://i.imgur.com/mjVFNa4.jpg");
    background-size: cover;
  }
  header{
  padding:20px;
  }
  .homey{
    display: grid;
    width: 80%;
    grid-template-columns: 2fr 1fr;
    padding:0vh 5vw 2vh 10vw;
    color:white;
    font-family: 'Nunito Sans', sans-serif;
  }
  .homeimg{
    margin-left: 7.5vw;
    margin-right: -7.5vw;
  }
  .logo{
    z-index: 2;
  }
  .logo img{
    height: 5rem;
  }
  .heading{
    padding: 0vh 0vw 0vh 5vw;
    margin:20vh 0 0 0;
    font-size: 80px;
    color: #FCECB6;
    font-family: 'Kanit', sans-serif;
  }
  
  .nav{
    color : grey;
    display : flex;
    justify-content: space-between;
    align-items: stretch;
    gap :  2 rem;
    padding : 0 1rem;
    float: right;
  }
  .rightside{
    float : right;
    text-decoration: none;
  }
  .nav ul{
    float : right;
    margin : 0;
    list-style: none;
    display : flex;
    gap : 1rem;
  }
  .nav form input{
    color : inherit;
    height : 100%;
    display : flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    padding : .26rem;
    font-size: large;
    text-decoration: none;
    background-color: transparent;
    border:none;
    margin-top: 0.5rem;
  }

  .rightside ul li form Button{
    background-color: transparent;
    border: none;
    padding-top: 2vh;
    color: gray;
    font-family: 'Kanit', sans-serif;
    font-size: large;
  }

  .rightside ul li form Button:hover{
    background-color: transparent;
    border: none;
    padding-top: 2vh;
    color: yellow;
    font-family: 'Kanit', sans-serif;
    font-size: large;
  }

  .nav a {
    color : inherit;
    height : 100%;
    display : flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    padding : .25rem;
    text-decoration: none;
  }
  .nav li:active{
    background-color: gray;
  }
  .nav li:hover{
    color: yellow;
  }
  
  #buttonStart{
    padding: 2.5vh 10vw;
  }
  
  #buttonStart button{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
    height: 3em;
    width: 15em;
    cursor:pointer;
    font-family: 'Kanit', sans-serif;
  }
  
  #buttonStart button:hover{
    border: 2px solid yellow;
    color:yellow;
  }
  
  .homefooter ul li{
    background-color: gray;
    color: white;
  }

  #buttonStart ul{
    margin : 0;
    list-style: none;
    display : flex;
    gap : 1rem;
  }